.card {
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    background-color: #5F9D92;
    border-radius: 4rem;
}

.card .slide {
    width: 100%;
    margin-bottom: 2.4rem;
    aspect-ratio: 16/9;
}

.card .slide img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

.title {
    font-family: 'Poppins-Medium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 130%;
    color: #FFFFFF;
    margin-bottom: 3.4rem;
}

.card button {
    width: auto !important;
}

.card div:nth-child(3) {
    margin-top: auto;
}