/* Poppins */

@font-face {
    src: url("assets/fonts/Poppins/Poppins-Regular.ttf");
    font-family: "Poppins";
}

@font-face {
    src: url("assets/fonts/Poppins/Poppins-Medium.ttf");
    font-family: "Poppins-Medium";
}

@font-face {
    src: url("assets/fonts/Poppins/Poppins-Bold.ttf");
    font-family: "Poppins-Bold";
}

@font-face {
    src: url("assets/fonts/Poppins/Poppins-Black.ttf");
    font-family: "Poppins-Black";
}

/* Source Sans Pro */

@font-face {
    src: url("assets/fonts/SourceSansPro/SourceSansPro-Regular.ttf");
    font-family: "SourceSansPro";
}

@font-face {
    src: url("assets/fonts/SourceSansPro/SourceSansPro-SemiBold.ttf");
    font-family: "SourceSansPro-SemiBold";
}

@font-face {
    src: url("assets/fonts/SourceSansPro/SourceSansPro-Black.ttf");
    font-family: "SourceSansPro-Black";
}

*,
*:after,
*:before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    background-color: #DFDFDF;
    width: .6rem;
}

*::-webkit-scrollbar-thumb {
    border-radius: 1.2rem;
    background-color: rgba(20, 22, 26, 0.2);
}

*::-webkit-scrollbar-button {
    display: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    outline: none;
}

#root {
    display: flex;
    flex-direction: column;
    background-color: #F6F7F8;
    min-height: 100vh;
}

.container {
    width: 124rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}